
div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    padding: 5px;
}

.corpus {
    height: 270px;
    width: 170px;
    margin: 0 auto;
    outline: 1px solid #cccccc;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    background-color: #313030;
    box-shadow: 5px 5px 9px rgba(0,0,0,.3);
}

#scrin-wrap {
    position: relative;
}

#scrin {
    height: 25px;
    width: 125px;
    outline: 1px solid #cccccc;
    background-color: #fff;
    vertical-align:bottom;
    text-align: right;
    line-height: 40px;
}

#hist {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 8px;
}

#panel {
    display: flex;
    flex-wrap:wrap;
    outline: 1px solid #cccccc;
    justify-content: space-around;
    background-color: #828282;
}

#panel .bttns, .digit {
    height: 23px;
    width: 23px;
    margin: 2px;
    /*outline: 1px solid #cccccc;*/
    cursor: pointer;
    background-color: #313030;
    line-height: 25px;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #cccccc;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.74);
}

#panel .digits {
    display: flex;
    flex-wrap:wrap;
    padding: 0;
    margin: 0px;
    width: 120px;
}

#panel .control #empty {
    height: 25px;
    width: 25px;
    margin: 5px 2px 5px 2px;
}

#panel .control {
     padding: 0;
     margin: 0;
}

#manga a{
    margin: 0 auto;
    font-size: 8px;
    color : black;
    text-decoration: none;
    cursor: default;
}